@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EBEBEB;
}

header {
    height: 10vh;
    margin: 0px 140px;
}

header h1{
    color: #414141;
    font-size: 3rem;
    padding-top: 4%;
}

header a{
    color: #414141;
    font-size: 3rem;
    padding-top: 4%;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.content {
    min-height: 85vh;
    margin: 0px 140px;
    display: flex;
    align-items: center;
}

.content-img {
    width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 80%), -6px -6px 18px rgba(255, 255, 255, 90%);
    display: flex;
    justify-content: center;
    align-self: center;
}

.content-img img{
    margin: 15%;
}

.content-text {
    margin-left: 3%;
}

.content-text-p p{
    color: #414141;
    font-size: 5rem;
}

.content-text-a {
    padding-top: 2%;
    display: flex;
}

.a-text {
    width: 60%;
    height: 7vh;
    background-color: white;
    margin-right: 2%;
    border-radius: 1rem;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 80%), -6px -6px 18px rgba(255, 255, 255, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-text a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

footer {
    height: 5vh;
    margin: 0px 140px;
    text-align: center;
}

.content-info-go {
    width: 100%;
    min-height: 39vh;
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 80%), -6px -6px 18px rgba(255, 255, 255, 90%);
}

.content-info-go-text-rum {
    display: flex;
}

.content-info-go-text-rum-text {
    width: 70%;
    padding-top: 3%;
}

#i1, #i2 {
    font-size: 1.6rem;
}

#i2 {
    padding-top: 3%;
    line-height: 150%;
}

.content-info-go-text-rum-img {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-info-go-text-rum-img img{
    width: 60%;
}

#ru {
    font-size: 3rem;
}

.content-info-go-text p{
    font-size: 1.6rem;
}

.content-info-go p {
    padding-top: 3%;
    font-size: 1.7rem;
}