<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Виды</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
    <div class="kinds">
        <div class="container">
            <h2 class="title">Виды</h2>
            <div class="content">
                
            </div>
        </div>
    </div>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Виды</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1><a href="index.html">Жизнь кактусов</a></h1>
    </header>
    <div class="content">
        <div class="content-info-go">
            <div class="content-info-go-text">
                <p id="ru">Комнатные</p>
                <p>Комнатными называют кактусы, которые приспасабливаются к домашним условиям выращивания.</p>
            </div>
            <div class="content-info-go-text-rum">
                <div class="content-info-go-text-rum-text">
                    <p id="i1">Цереус</p>
                    <p id="i2">Еще один классический домашний кактус. Он очень востребован в оформлении и интерьерном
                        дизайне. Он подходит для сложных композиций и садов, но отлично чувствует себя и самостоятельно.
                        Со временем может дорастать до метра, но на это уйдет далеко не один год. Существует сорта и
                        подвиды с причудливыми мутациями, например, Монстрозус.</p>
                </div>
                <div class="content-info-go-text-rum-img">
                    <img src="img/depositphotos_431048834-stock-illustration-cereus-plant-isolated-white-background.jpg"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>2021 жизнь кактусов<br>Broccoi</p>
    </footer>
</body>

</html> -->