<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Влияние</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1><a href="index.html">Жизнь кактусов</a></h1>
    </header>
    <div class="content">
        <div class="content-info-go">
            <h1>Общая польза кактуса</h1>
        </div>
    </div>
    <footer>
        <p>2021 жизнь кактусов<br>Broccoi</p>
    </footer>
</body>

</html>